<!-- modal popup  -->
<div class="modal fade show" id="AddPatients" aria-modal="true" role="dialog">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title head">Fill the patient detail</h4>
        <button type="button" class="close" data-dismiss="modal">×</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div class="row">
          <div class="col-12 col-lg-6">
            <label for="inputEmail4" class="form-label form-txt">Patient Name</label>
            <input type="text" class="form-control form-pad" aria-label="First name">
          </div>
          <div class="col-12 col-lg-6 mt-2 mt-lg-0">
            <label for="inputEmail4" class="form-label form-txt">Mobile Number</label>
            <input type="number" class="form-control form-pad" aria-label="Mobile Number">
          </div>
        </div>

        <div class="row mt-3">
          <div class="col-12 col-lg-2">
            <label for="text" class="form-label form-txt">Age</label>
            <input type="text" class="form-control form-pad" aria-label="DOB">
          </div>
          <div class="col-12 col-lg-2">
            <label for="text" class="form-label form-txt">Gender</label>
            <input type="text" class="form-control form-pad" placeholder="Male" aria-label="Gender">
          </div>
          <div class="col-12 col-lg-2">
            <label for="text" class="form-label form-txt visibility-hidden">Gender</label>
            <input type="text" class="form-control form-pad" placeholder="Female" aria-label="DOB">
          </div>

          <div class="col-12 col-lg-6">
            <label for="Number" class="form-label form-txt">Select Date</label>
            <input type="date" class="form-control form-pad text-form" aria-label="Date">
          </div>
        </div>

        <div class="row mt-3">
          <div class="col-lg-12">
              <div class="TimeSlot">
                  <h5 class="modal-title head-2">Preferred Time Slot</h5>
              </div>
          </div>
        </div>

        <div class="row mt-3">
          <div class="col-4">
              <button type="button" class="btn active btn-custom">
                  <img src="assets/img/morning.png" alt="" class="image">
                  <span>Morning</span>
              </button>
          </div>

          <div class="col-4">
              <button type="button" class="btn btn-custom">
                  <img src="assets/img/afternoon.png" alt="" class="image">
                  <span>Afternoon</span>
              </button>
          </div>

          <div class="col-4">
              <button type="button" class="btn btn-custom">
                  <img src="assets/img/evening.png" alt="" class="image">
                  <span>Evening</span>
              </button>
          </div>
        </div>

        <div class="row mt-3">
          <div class="col-lg-12">
              <ul class="ul-class">
                  <li class="d-inline-block li-class"><button class="btn-time">09:30AM</button></li>
                  <li class="d-inline-block li-class"><button class="btn-time">09:30AM</button></li>
                  <li class="d-inline-block li-class"><button class="btn-time">09:30AM</button></li>
                  <li class="d-inline-block li-class"><button class="btn-time">09:30AM</button></li>
                  <li class="d-inline-block li-class"><button class="btn-time">09:30AM</button></li>

                  <li class="d-inline-block li-class"><button class="btn-time">09:30AM</button></li>
                  <li class="d-inline-block li-class"><button class="btn-time">09:30AM</button></li>
                  <li class="d-inline-block li-class"><button class="btn-time">09:30AM</button></li>
                  <li class="d-inline-block li-class"><button class="btn-time">09:30AM</button></li>
                  <li class="d-inline-block li-class"><button class="btn-time">09:30AM</button></li>
              </ul>
          </div>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer border-0">
          <button type="button" class="btn ml-auto button" data-dismiss="modal">BOOK APPOINTMENT</button>
        </div>
      </div>
      
    </div>
  </div>
</div>

<!-- modal popup  -->

<div class="sidebar d-none d-md-block">
  <div class="logo-details">
    <img src="assets/img/logo.png" class="bx" style="width: 50px;" alt="">
    <i class='bx bx-menu text-dark text-muted' id="btn"></i>
  </div>
  <ul class="nav-list">
    <li><a routerLink="/dashboard"><img src="assets/img/Union.svg" alt=""></a></li>
    <li><a routerLink="/appointments"><img src="assets/img/Vector.svg" alt=""></a></li>
    <li><a data-toggle="modal" href="#AddPatients" ><img src="assets/img/Vector (1).svg" alt=""></a></li>
    <li class="profile"> <img src="assets/img/icon.png" alt=""></li>
  </ul>
</div>


<section class="home-section">
  <!-- dashboard header -->
  <div class="row p-0 m-0">
    <div class="col p-0">
      <div class="navs-head shadow-sm dash-Head">
        <div class="Left">
          <div class="logo-details py-3 pe-3 d-block d-md-none">
            <i class='bx bx-menu' id="btn"></i>
          </div>
          <div>
            <img src="assets/img/mask.png" alt="">
          </div>
          <div class="head-text">
            <h5>Good morning Dr Sapna</h5>
            <p> Happiness is the highest form of health.</p>
          </div>
        </div>
        <div class="Right">
          <div class="ms-auto">
            <img src="assets/img/ball.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- dashboard header end-->

  <!-- appointments chart form -->
  <section class="sect-appo-pad">
    <div class="card-head d-flex">
      <h5>
        Today Appointments
      </h5>
      <a class="nav-link hide-btn d-block d-md-none" href="#">Hide</a>
    </div>
    <form class="form-inline">
      <input type="text" id="search" placeholder="Search" name="search" class="search">
      <input type="text" id="from" placeholder="From" name="form" class="form">
      <label>
        <input type="text" placeholder="To" name="to" class="to">
      </label>
      <button><a href="#">
          Search
        </a>
        <img src="assets/img/bx_bx-search.png" alt="">
      </button>
      <a class="nav-link ms-auto btn-add d-none d-lg-block" data-toggle="modal" href="#AddPatients">Add patient</a>

    </form>

  </section> <!-- appointments chart form end-->

  <section class="sect-appo-pad">
    <!-- name start -->
    <div class="appo-card-head">
      <ul>
        <li class="name">
          <p>
            Name
          </p>
        </li>
        <li class="mobile">
          <p>
            Mobile No.
          </p>
        </li>
        <li class="age">
          <p>
            Age
          </p>
        </li>
        <li class="gen">
          <p>
            Gender
          </p>
        </li>
        <li class="date-time">
          <p>
            Date & Time
          </p>
        </li>
        <li class="fee">
          <p>
            Consultancy Fee
          </p>
        </li>
        <li class="status">
          <p>
            Status
          </p>
        </li>
        <li class="access">
          <p>
            Access
          </p>
        </li>
      </ul>
    </div>
    <!-- name end -->
    <!-- card 1 -->
    <div class="appo-card-head">
      <ul>
        <li class="name">
          <p>Varun Singh Rathore</p>
        </li>
        <li class="mobile">
          <p>
            09876543212
          </p>
        </li>
        <li class="age">
          <p>32</p>
        </li>
        <li class="gen">
          <p>M</p>
        </li>
        <li class="date-time">
          <p>20-12-2021 9:30AM</p>
        </li>
        <li class="fee">
          <p>500 Rs.</p>
        </li>
        <li class="status-btn">
          <button class="btn-start">
            Start Consulting
          </button>
        </li>
        <li class="access ">
          <img src="assets/img/eye.png" style="padding:21px 0; margin:0 3px;" alt="">
          <img src="assets/img/delete.png" style="padding:21px 0; margin:0 3px;" alt="">
          <img src="assets/img/pan.png" style="padding:21px 0; margin:0 3px;" alt="">
        </li>
      </ul>
    </div>
    <!-- card 1 end -->


    <!-- card 2 -->
    <div class="appo-card-head">
      <ul>
        <li class="name">
          <p>Varun Singh Rathore</p>
        </li>
        <li class="mobile">
          <p>
            <span class="d-block d-md-none">Mobile No.</span> 09876543212
          </p>
        </li>
        <li class="age">
          <p><span class="d-block d-md-none">Age</span> 32</p>
        </li>
        <li class="gen">
          <p>M</p>
        </li>
        <li class="date-time">
          <p>20-12-2021 9:30AM</p>
        </li>
        <li class="fee">
          <p>500 Rs.</p>
        </li>
        <li class="status-btn">
          <p>Done</p>
        </li>
        <li class="access">
          <img src="assets/img/eye 2.png" style="padding:21px 0; margin:0 3px;" alt="">
          <img src="assets/img/delete.png" style="padding:21px 0; margin:0 3px;" alt="">
          <img src="assets/img/pan.png" style="padding:21px 0; margin:0 3px;" alt="">
        </li>
      </ul>
    </div>
    <!-- card 2 end -->
    <!-- card 3 -->
    <div class="appo-card-head">
      <ul>
        <li class="name">
          <p>Varun Singh Rathore</p>
        </li>
        <li class="mobile">
          <p>
            09876543212
          </p>
        </li>
        <li class="age">
          <p>32</p>
        </li>
        <li class="gen">
          <p>M</p>
        </li>
        <li class="date-time">
          <p>20-12-2021 9:30AM</p>
        </li>
        <li class="fee">
          <p>500 Rs.</p>
        </li>
        <li class="status-btn">
          <p>Done</p>
        </li>
        <li class="access">
          <img src="assets/img/eye 2.png" style="padding:21px 0; margin:0 3px;" alt="">
          <img src="assets/img/delete.png" style="padding:21px 0; margin:0 3px;" alt="">
          <img src="assets/img/pan.png" style="padding:21px 0; margin:0 3px;" alt="">
        </li>
      </ul>
    </div>
    <!-- card 3 end -->
    <!-- card 4 -->
    <div class="appo-card-head">
      <ul>
        <li class="name">
          <p>Varun Singh Rathore</p>
        </li>
        <li class="mobile">
          <p>
            09876543212
          </p>
        </li>
        <li class="age">
          <p>32</p>
        </li>
        <li class="gen">
          <p>M</p>
        </li>
        <li class="date-time">
          <p>20-12-2021 9:30AM</p>
        </li>
        <li class="fee">
          <p>500 Rs.</p>
        </li>
        <li class="status-btn">
          <p class="text-danger">Cancelled</p>
        </li>
        <li class="access">
          <img src="assets/img/eye.png" style="padding:21px 0; margin:0 3px;" alt="">
          <img src="assets/img/delete.png" style="padding:21px 0; margin:0 3px;" alt="">
          <img src="assets/img/pan.png" style="padding:21px 0; margin:0 3px;" alt="">
        </li>
      </ul>
    </div>
    <!-- card 4 end -->
    <!-- card 5 -->
    <div class="appo-card-head">
      <ul>
        <li class="name">
          <p>Varun Singh Rathore</p>
        </li>
        <li class="mobile">
          <p>
            09876543212
          </p>
        </li>
        <li class="age">
          <p>32</p>
        </li>
        <li class="gen">
          <p>M</p>
        </li>
        <li class="date-time">
          <p>20-12-2021 9:30AM</p>
        </li>
        <li class="fee">
          <p>500 Rs.</p>
        </li>
        <li class="status-btn">
          <p>Done</p>
        </li>
        <li class="access">
          <img src="assets/img/eye 2.png" style="padding:21px 0; margin:0 3px;" alt="">
          <img src="assets/img/delete.png" style="padding:21px 0; margin:0 3px;" alt="">
          <img src="assets/img/pan.png" style="padding:21px 0; margin:0 3px;" alt="">
        </li>
      </ul>
    </div>
    <!-- card 5 end -->
    <!-- card 6 -->
    <div class="appo-card-head">
      <ul>
        <li class="name">
          <p>Varun Singh Rathore</p>
        </li>
        <li class="mobile">
          <p>
            09876543212
          </p>
        </li>
        <li class="age">
          <p>32</p>
        </li>
        <li class="gen">
          <p>M</p>
        </li>
        <li class="date-time">
          <p>20-12-2021 9:30AM</p>
        </li>
        <li class="fee">
          <p>500 Rs.</p>
        </li>
        <li class="status-btn">
          <p>Done</p>
        </li>
        <li class="access">
          <img src="assets/img/eye 2.png" style="padding:21px 0; margin:0 3px;" alt="">
          <img src="assets/img/delete.png" style="padding:21px 0; margin:0 3px;" alt="">
          <img src="assets/img/pan.png" style="padding:21px 0; margin:0 3px;" alt="">
        </li>
      </ul>
    </div>
    <!-- card 6 end -->
    <!-- card 7 -->
    <div class="appo-card-head">
      <ul>
        <li class="name">
          <p>Varun Singh Rathore</p>
        </li>
        <li class="mobile">
          <p>
            09876543212
          </p>
        </li>
        <li class="age">
          <p>32</p>
        </li>
        <li class="gen">
          <p>M</p>
        </li>
        <li class="date-time">
          <p>20-12-2021 9:30AM</p>
        </li>
        <li class="fee">
          <p>500 Rs.</p>
        </li>
        <li class="status-btn">
          <p>Done</p>
        </li>
        <li class="access">
          <img src="assets/img/eye 2.png" style="padding:21px 0; margin:0 3px;" alt="">
          <img src="assets/img/delete.png" style="padding:21px 0; margin:0 3px;" alt="">
          <img src="assets/img/pan.png" style="padding:21px 0; margin:0 3px;" alt="">
        </li>
      </ul>
    </div>
    <!-- card 7 end -->
    <!-- card 8 -->
    <div class="appo-card-head">
      <ul>
        <li class="name">
          <p>Varun Singh Rathore</p>
        </li>
        <li class="mobile">
          <p>
            09876543212
          </p>
        </li>
        <li class="age">
          <p>32</p>
        </li>
        <li class="gen">
          <p>M</p>
        </li>
        <li class="date-time">
          <p>20-12-2021 9:30AM</p>
        </li>
        <li class="fee">
          <p>500 Rs.</p>
        </li>
        <li class="status-btn">
          <p>Done</p>
        </li>
        <li class="access">
          <img src="assets/img/eye 2.png" style="padding:21px 0; margin:0 3px;" alt="">
          <img src="assets/img/delete.png" style="padding:21px 0; margin:0 3px;" alt="">
          <img src="assets/img/pan.png" style="padding:21px 0; margin:0 3px;" alt="">
        </li>
      </ul>
    </div>
    <!-- card 8 end -->
    <!-- mobile view -->
    <div class="appo-card-head-mobile d-block d-lg-none">
      <div class="head-ca">
        <div class="name-mobile">
          <p>Varun Singh Rathore</p>

        </div>
        <div class="access-mobile text-end">
          <img src="assets/img/eye.png" alt="">
          <img src="assets/img/delete.png" alt="">
          <img src="assets/img/delete.png" alt="">
        </div>
      </div>
      <div class="head-ca">
        <div class="mobile-view flex-column">
          <p>
            Mobile No.
          </p>
          <p class="text-dark">
            09876543212
          </p>
        </div>
        <div class="age-mobile flex-column">
          <p>
            Age
          </p>
          <p class="text-dark">
            32</p>
        </div>
        <div class="status-btn-mobile">
          <button class="btn-start">
            Start Consulting
          </button>
        </div>
      </div>
    </div>

    <div class="appo-card-head-mobile d-block d-md-none">
      <div class="head-ca">
        <div class="name-mobile">
          <p>Varun Singh Rathore</p>

        </div>
        <div class="access-mobile text-end">
          <img src="assets/img/eye.png" alt="">
          <img src="assets/img/delete.png" alt="">
          <img src="assets/img/delete.png" alt="">
        </div>
      </div>
      <div class="head-ca">
        <div class="mobile-view flex-column">
          <p>
            Mobile No.
          </p>
          <p class="text-dark">
            09876543212
          </p>
        </div>
        <div class="age-mobile flex-column">
          <p>
            Age
          </p>
          <p class="text-dark">
            32</p>
        </div>
        <div class="status-btn-mobile">
          <button class="btn-start">
            Start Consulting
          </button>
        </div>
      </div>
    </div>
    <!-- mobile view -->
  </section>

  