<div class="Login-Info">
  <div class="container">
    <div class="row border-round gx-0">
      <div class="col-sm-12 col-md-6 col-lg-7">
        <div class="head-banner">
          <img src="assets/img/logo.png" alt="">
          <h2>
            My Neighbourhood Dentist
          </h2>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-5 my-auto">
        <div class="login-form">
  
          <h2>
            Log In
          </h2>
          <form class="">
            <label for="fname">Username</label>
            <input type="text" id="fname" name="firstname">
  
            <label for="password">Password</label>
            <input type="password" id="lname" name="password" class="m-0">
  
            <label for="lname"><a href="#" class="pass">
                Forgot Password?
              </a></label>
  
  
            <!-- <input type="submit" value="Sing In"> -->
  
          </form>
          <button class="btn-sing">
            <a routerLink="/dashboard">
              Sing In
            </a>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
